.wapp {
  color: #5cd766;
}

.lkin {
  color: #2866c2;
}

.body {
  font-family: 'Cormorant Garamond', serif;
}

.navcol {
  background-color: #14274e;
  border: none;
  color: #f1f6f9;
}

.img-cont {
  opacity: .7;
  width: 100%;
  height: 550px;
  object-fit: cover;
}

.main-cont {
  background-color: #2866c2 !important;
}